// Colors
$active-color: rgba(22, 192, 152, 1);
$active-bg-color: rgba(22, 192, 152, 0.38);
$inactive-color: rgba(223, 4, 4, 1);
$inactive-bg-color: rgba(255, 197, 197, 1);
$dark:rgba(0, 0, 0, 1);
$hovered-porpure:rgba(89, 50, 234, 1);
$light-dark: rgba(145, 151, 179, 1);
$lignt-bg_gray: rgb(250,251,255);
$white:rgba(255, 255, 255, 1);

//Fonts
$basic-font: Poppins;