@import '../../stylesVariables/stylesVariables.scss';

.table_wrapper{
    margin-top: 40px;
}

.column_head{
    font: 500 14px $basic-font;
    color: $light-dark;
    text-transform: none;
}
.table_row{
    font: 500 14px $basic-font;
    color: $dark;
}

.active_status,
.inactive_status{
    background: $active-bg-color;
    color: $active-color;
    font: 500 14px $basic-font;
    border-radius: 5px;
    border: 2px solid $active-color;
    padding: 4px 18px;
}

.inactive_status{
    background: $inactive-bg-color;
    color: $inactive-color;
    border: 2px solid $inactive-color;
    padding: 4px 12px;
}

.table_status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 30px 40px 0px;
}

.table_status-text{
    font: 500 14px $basic-font;
    color: $light-dark;
}

.css-1pi9rcw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected{
    background: $hovered-porpure !important;
    font: 500 12px $basic-font !important;
    padding: 6px, 10px !important;
}
.css-41sz0k.Mui-selected{
    background: $hovered-porpure !important;
    font: 500 12px $basic-font !important;
    padding: 6px, 10px !important;
}